@import url('https://fonts.googleapis.com/css?family=Lato|Oswald');

body {
  font-family: "Oswald", sans-serif;
}

a {
  color: red;
  text-decoration: none;
}

h3 {
  text-align: center;
  padding: 20px;
}

h4 {
  padding: 20px;
}

button {
  font-family: "Lato", sans-serif;
  width: 25%;
  border-color: green;
  border-style: solid;
  border-radius: 5px;
  color: green;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

button.filtered {
  color: red;
  border-color: red;
}

.card-container {
  width: 300px;
  border-style: solid;
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
}

.grid {
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.aff-logo {
  position: relative;
  background-color: red;
  width: 50px;
  height: 50px;
  margin-left: 30px;
  display: block;
  border-radius: 5px;
  z-index: 1;
}

.logo {
  position: relative;
  background-color: white;
  width: 40px;
  height: 40px;
  margin-left: 35px;
  display: block;
  border-radius: 5px;
  z-index: 1;
}

.insta-logo {
  position: relative;
  background-color: black;
  width: 50px;
  height: 50px;
  margin-left: 30px;
  display: block;
  border-radius: 5px;
  z-index: 1;
}

.aff-text {
  color: white;
  text-align: center;
  line-height: 60px;
}

.image {
  position: relative;
  margin-top: -30px;
  width: 260px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 0;
}

.cardText {
  padding: 20px;
  padding-bottom: 0px;
}

.title-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  z-index: 999;
}
.main {
  margin-top: 70px;
}

.footer {
  display: flex;
  height: 20px;
  flex-direction: row;
  justify-content: center;
}

.manual-link {
  margin-left:20px;
}

.showMore {
  position: relative;
  color: black;
  border-color: black;
  margin: 20px;
  height: 50px;
}